<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- JQuery: -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap: -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- AngularJS Javascript:-->
    <script src="/vendor/angularjs/angular.min.js"></script>
    <script src="/vendor/angularjs/ngStorage.min.js"></script>

    <!-- CookieConsent: -->
    <link rel="stylesheet" href="/vendor/cookieconsent/css/cookieconsent.css">
    <script src="/vendor/cookieconsent/js/cookieconsent.js"></script>

    <!-- Lobibox: -->
    <link rel="stylesheet" href="/vendor/lobibox/css/lobibox.min.css">
    <script src="/vendor/lobibox/js/lobibox.min.js"></script>

    <!-- MomentJS: -->
    <script src="/vendor/momentjs/moment-with-locales.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>

<body>
<div ng-app="restaurantApp" ng-controller="restaurantCtrl">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><%= title %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="padding-right: 20px;">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="company in companies"><a href="#" ng-click="companySelected(company)">{{ company }}</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <div class="row">
        <div class="col-md-12">
            <h3>
                <a href="#" ng-click="weekChanged(-1)"><i class="fa fa-caret-left"></i></a>
                Viikko {{ day.week() }}
                <a href="#" ng-click="weekChanged(1)"><i class="fa fa-caret-right"></i></a>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span ng-repeat="day in days" ng-click="daySelected(day)">
                <a href="#">{{ day.format("dddd") }}</a>{{ $last ? '' : ' |' }}
            </span>
        </div>
    </div>
    <br>


    <!-- Restaurant tile: -->
    <div ng-repeat="restaurant in restaurants" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <h4><a href="{{ menus[restaurant.restaurantId].link }}">{{ restaurant.name }}</a></h4>
        <h5>Menu:</h5>

        <div ng-repeat="menu in menus[restaurant.restaurantId].set_menus">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><strong>{{ menu.name }}</strong></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><strong>{{ menu.price }}</strong></div>
            </div>
            <div class="row">
                <ul style="list-style: none">
                    <li ng-repeat="component in menu.components"> {{ component }} </li>
                </ul>
            </div>
        </div>

        <!--<p>{{ menus[restaurant.restaurantId].set_menus }}</p>-->
    </div>
</div>

<script>
    'use strict';

    var app = angular.module("restaurantApp", ["ngStorage"])
            .factory('moment', function ($window) {
                return $window.moment;
            }).factory('lobibox', function ($window) {
                return $window.Lobibox;
            });

    app.controller("restaurantCtrl", function ($scope, $log, $http, $location, $interval, $sessionStorage, moment) {
        moment.locale('fi');

        $scope.day = new moment().utc().hour(0).minutes(0).second(0).millisecond(0);
        $scope.days = [];

        $scope.data = [];
        $scope.companies = [];
        $scope.restaurants = [];

        $scope.menus = {};

        $scope.selectedCompany;

        constructWeekDays();
        getRestaurants();

        $scope.getRestaurants = function (company) {
            if ($scope.data.companies) {
                // Find right company:
                for (var i = 0; i < $scope.data.companies.length; ++i) {
                    if ($scope.data.companies[i].companyName == company) {
                        return $scope.data.companies[i].restaurants;
                    }
                }
            }
            return [];
        }

        $scope.companySelected = function (company) {
            $scope.selectedCompany = company;
        }

        $scope.daySelected = function (day) {
            console.log("Day changed to: " + day.format("DD.MM.YYYY"));
            $scope.day = day;
            for (var i = 0; i < $scope.restaurants.length; ++i) {
                var restaurantID = $scope.restaurants[i].restaurantId;
                getRestaurantMenu(restaurantID);
            }
        }

        $scope.weekChanged = function (value) {

            $scope.day.add(value, "w")
            constructWeekDays();
            $scope.daySelected($scope.day);

            console.log("Week changed to: " + $scope.day.week());

        }

        $scope.$watch('selectedCompany', function () {
            console.log("$scope.selectedCompany has changed: " + $scope.selectedCompany);
            $scope.restaurants = $scope.getRestaurants($scope.selectedCompany);

            console.log($scope.restaurants);

            // TODO: change company view:
        }, true);

        $scope.$watch('restaurants', function () {
            console.log("$scope.restaurants has changed: " + $scope.restaurants);

            for (var i = 0; i < $scope.restaurants.length; ++i) {
                var restaurantID = $scope.restaurants[i].restaurantId;
                getRestaurantMenu(restaurantID);
            }
        }, true);

        function constructWeekDays() {
            var days = [];
            for (var i = 0; i < 7; ++i) {
                days.push($scope.day.clone().weekday(i))
            }
            $scope.days = days;
        }

        function parseCompanies(data) {
            var companies = [];
            data.companies.forEach(function (value) {
                if (value.hasOwnProperty("companyName")) {
                    companies.push(value.companyName);
                }
            })
            console.log(companies);
            return companies;
        }

        function getRestaurantMenu(restaurantID) {

            console.log("Get menu for: " + restaurantID + ", for day: " + $scope.day.format("DD.MM.YYYY"));

            var protocol = $location.protocol();
            var host = $location.host();
            var port = $location.port() != 80 ? ":" + $location.port() : "";
            var path = "menu/" + restaurantID + "/" + $scope.day.format("YYYY-MM-DD");
            var url = protocol + "://" + host + port + "/" + path;

            $http.get(url)
                    .then(function (response) { // Success
                        console.log(response);
                        $scope.menus[restaurantID] = response.data;
                    }, function (response) { // Failure
                        console.log(response);
                        $scope.menus[restaurantID] = {};
                    });
        }

        function getRestaurants() {
            var protocol = $location.protocol();
            var host = $location.host();
            var port = $location.port() != 80 ? ":" + $location.port() : "";
            var path = "restaurants/";
            var url = protocol + "://" + host + port + "/" + path;

            console.log("GET : " + url);

            $http.get(url)
                    .then(function (response) { // Success
                        console.log(response.data);
                        $scope.companies = parseCompanies(response.data);
                        $scope.data = response.data;
                        $scope.selectedCompany = $scope.companies[0];
                        return response.data;
                    }, function (response) { // Failure
                        console.log("Something went wrong: " + response);
                        return {};
                    });
        }

    }).config(function ($interpolateProvider, $httpProvider) {

    }).filter('toWeekday', function (date) {
        return date.format("dddd");
    });

</script>

</body>
</html>

